USE [QLSV]
GO
/****** Object:  Table [dbo].[Sheet1$]    Script Date: 12/23/2020 8:25:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1$](
	[stt] [float] NULL,
	[mssv ] [float] NULL,
	[tensv] [nvarchar](255) NULL,
	[ds_nnlt] [float] NULL,
	[ds_th_nnlt] [float] NULL,
	[ds_lthdt] [float] NULL,
	[ds_th_lthdt] [float] NULL,
	[ds_ctdl_gt] [float] NULL,
	[ds_th_ctdlgt] [float] NULL,
	[ds_csdl] [float] NULL,
	[ds_th_csdl] [float] NULL,
	[ds_toancc] [float] NULL,
	[diemtlhe4] [float] NULL,
	[ds_diemtlhe10] [float] NULL,
	[dc_nnlt] [nvarchar](255) NULL,
	[dc_th_nnlt] [nvarchar](255) NULL,
	[dc_lthdt] [nvarchar](255) NULL,
	[dc_th_lthdt] [nvarchar](255) NULL,
	[dc_ctdl_gt] [nvarchar](255) NULL,
	[dc_th_ctdlgt] [nvarchar](255) NULL,
	[dc_csdl] [nvarchar](255) NULL,
	[dc_th_csdl] [nvarchar](255) NULL,
	[dc_toancc] [nvarchar](255) NULL,
	[dc_diemtlhe10] [nvarchar](255) NULL,
	[chuyennganh] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Sheet1$] ([stt], [mssv ], [tensv], [ds_nnlt], [ds_th_nnlt], [ds_lthdt], [ds_th_lthdt], [ds_ctdl_gt], [ds_th_ctdlgt], [ds_csdl], [ds_th_csdl], [ds_toancc], [diemtlhe4], [ds_diemtlhe10], [dc_nnlt], [dc_th_nnlt], [dc_lthdt], [dc_th_lthdt], [dc_ctdl_gt], [dc_th_ctdlgt], [dc_csdl], [dc_th_csdl], [dc_toancc], [dc_diemtlhe10], [chuyennganh]) VALUES (1, 2001181111, N'Lữ Hoàng Hiếu', 5.8, 5, 6.1, 7.3, 5.5, 5.3, 6.8, 6.3, 6.7, 2.16, 6.14, N'C', N'D', N'C', N'B', N'C', N'D', N'C', N'C', N'C', N'C', N'Công nghệ phần mềm')
INSERT [dbo].[Sheet1$] ([stt], [mssv ], [tensv], [ds_nnlt], [ds_th_nnlt], [ds_lthdt], [ds_th_lthdt], [ds_ctdl_gt], [ds_th_ctdlgt], [ds_csdl], [ds_th_csdl], [ds_toancc], [diemtlhe4], [ds_diemtlhe10], [dc_nnlt], [dc_th_nnlt], [dc_lthdt], [dc_th_lthdt], [dc_ctdl_gt], [dc_th_ctdlgt], [dc_csdl], [dc_th_csdl], [dc_toancc], [dc_diemtlhe10], [chuyennganh]) VALUES (2, 2001181115, N'Nguyễn Hữu Hiếu', 4.2, 6, 6.5, 2.5, 2.5, 4.3, 3.5, 7.3, 5.6, 2.04, 5.88, N'D', N'C', N'C', N'F', N'F', N'D', N'F', N'B', N'C', N'C', N'Công nghệ phần mềm')
INSERT [dbo].[Sheet1$] ([stt], [mssv ], [tensv], [ds_nnlt], [ds_th_nnlt], [ds_lthdt], [ds_th_lthdt], [ds_ctdl_gt], [ds_th_ctdlgt], [ds_csdl], [ds_th_csdl], [ds_toancc], [diemtlhe4], [ds_diemtlhe10], [dc_nnlt], [dc_th_nnlt], [dc_lthdt], [dc_th_lthdt], [dc_ctdl_gt], [dc_th_ctdlgt], [dc_csdl], [dc_th_csdl], [dc_toancc], [dc_diemtlhe10], [chuyennganh]) VALUES (3, 2001181116, N'Nguyễn Văn Hiếu', 5.4, 7.5, 7, 6, 4.1, 8, 6.3, 8.2, 5.6, 2.36, 6.47, N'C', N'B', N'B', N'C', N'D', N'B', N'C', N'B', N'C', N'C', N'Công nghệ phần mềm')
GO
