<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QuanLySanPhamConnectionString"
            connectionString="Data Source=A206PC40;Initial Catalog=QuanLySanPham;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>